body {
    background-color: grey;
    font-family: 'Rubik', Arial
}

H1::selection {
    color: #00bfa5;
    background-color: black;
}

p::selection {
    color: #00bfa5;
    background-color: black;
}

a::selection {
    color: #00bfa5;
    background-color: black;
}

a {
    text-decoration: none;
}

nav {           /* Les propriétés du menu */
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: -12px;
    padding: 20px;
    width: 320px;
    z-index: 2;
}

nav.active {
    background-color: #181818;
    border-right-color: rgb(52, 252, 242);
    border-right-style: solid;
    border-right-width: 2px;
}

.burger {  /* Les propriétés de l'icône du menu déroulant */
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
}
.burger span {  /* Ce que fait l'icône du menu quand elle est cliquée */
    width: 100%;
    height: 4px;
    background-color:white;
    display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;

}
.burger span::before, .burger span::after{   /* Ce qu'il se passe avant et après que le bouton soit cliqué */
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color:white;
  transition: transform 0.5s ease-in-out;

}
.burger span::before{
   transform: translateY(-10px);    
}
.burger span::after{
   transform: translateY(10px);
}

.burger.active span{
  background-color: transparent;
}
.burger.active span::before{
  transform: translateY(0px) rotateZ(45deg);
}
.burger.active span::after{
  transform: translateY(0px) rotateZ(-45deg);  
}

.sidebar span{
  
  width: 200px;
  height: 10000px;
  color: transparent;
}

.sidebar.active span {
  color: black;
}

#reponse{
    text-align: center;
   }
   
   #reponse span{  /* Cache de base le menu */
     display:none;
   }

   #menu {  /* Cache les puces de la liste du menu */
    list-style-type: none;
    display: none;
}

#menu .active {                 /* Souligne le nom de la section quand on est dessus */
    text-decoration: underline;
}

#menu a {  
    font-size: 25px;
    margin: -35px;
    color: white;
}

#menu li {      /* Décale les noms de partie de 10px du bord du menu */
    padding: 10px 0px;
}

#menu a:hover {
    text-decoration: underline;
}

#accueil a{
    margin-left: 50px;
    color: white;
    font-size: 50px;
}

#eau a{
    font-size: 40px;
    color: #34FCF2;
}

#sucre a{
    font-size: 40px;
    color: #34FCF2;
}

#header {
    background-color: #252525;
    position: fixed;
    margin-top: -8px;
    margin-left: -8px;
    width: 1920px;
    height: 200px;
}
    
h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 45px;
    color: white;
}